<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">

    <title>Deleting <span th:text="${post.title}"></span></title>

    <th:block th:replace="partials/bootstrap_style :: stylesheets">

    </th:block>
</head>
<body>
<th:block th:replace="partials/bootstrap_style :: navbar">

</th:block>
<h2 style="text-align: center">Are you sure you want to delete this post?</h2>

<div class="card text-white bg-info m-5 text-center">
    <div class="card-header">
        <span th:text="${post.title}"></span>
    </div>
    <div class="card-body">
        <p th:text="${post.body}" class="card-text"></p>
    </div>
    <div class="card-footer text-muted">
        <form th:action="@{'/posts/delete/' +${post.id}}" th:method="post">
            <button>Confirm Delete</button>
        </form>
    </div>
</div>


<th:block th:replace="partials/bootstrap_style :: scripts">

</th:block>
</body>
</html>