
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit</title>

</head>
<body>


<form th:action="@{/post/edit/}" th:method="post" th:object="${post}">
    <input th:field="*{id}" type="hidden" name="id" th:value="*{id}" />
    <label for="title">Title</label>
    <input id="title" th:field="*{title}" type="text" th:placeholder="*{title}" />
    <label for="body">Body</label>
    <textarea id="body" th:field="*{body}" type="text" th:placeholder="*{body}"> </textarea>
    <button type="submit">Update Post</button>
</form>

</body>
</html>