<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Viewing Post</title>
</head>
<body>
<div>
    <h3 th:text="${posts.title}"></h3>
    <p th:text="${posts.body}"></p>
</div>
<div>
    <ul>
        <li style="list-style-type: none" th:each="image : ${posts.images}">
            <img  th:src= "${image.path}" alt=" cats " style="height: 100px; width: 150px">
        </li>
    </ul>
</div>

    <form  th:action="@{'/posts/' + ${posts.id} + '/add-image'}" th:method="post">
        <label for="imagePath">Add an Image to this post</label>
        <input id="imagePath" type="text" placeholder="Url">
        <button type="submit">Add Image</button>
    </form>
</body>
</html>