<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Log In</title>
    <th:block th:replace="partials/bootstrap_style :: stylesheets">

    </th:block>
</head>
<body>
<th:block th:replace="partials/bootstrap_style :: navbar">

</th:block>

<h1 style="text-align: center">Log In</h1>
<div style="text-align: center"th:if="${param.error}">
    Invalid Username and Password.
</div>
<div style="text-align: center" th:if="${param.logout}">
    You have been logged out.
</div>
<form th:action="@{/login}" method="post">
<div class="card text-white bg-info m-4 text-center">
    <div class="card-header">
       Please Login
    </div>
    <div class="card-body">
        <label for="username">Username</label>
        <input id="username" name="username" type="text" />
        <br>
        <label for="password">Password</label>
        <input id="password" name="password" type="password" />
    </div>
    <div class="card-footer">
        <input type="submit" value="Log In" />
    </div>
</div>




</form>
<th:block th:replace="partials/bootstrap_style :: scripts">

</th:block>
</body>
</html>