<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Sign up</title>
    <th:block th:replace="partials/bootstrap_style :: stylesheets">

    </th:block>
</head>
<body style="align-items: center !important;">
<th:block th:replace="partials/bootstrap_style :: navbar">

</th:block>
<h1 style="text-align: center">Create an account</h1>
<form th:action="@{/sign-up}" method="POST" th:object="${user}">

    <div class="card text-white bg-info m-4 text-center">
        <div class="card-header">
            Please Register
        </div>
        <div class="card-body">
            <label for="username">Username:</label>
            <br>
            <input id="username" th:field="*{username}" required/>
            <br>
            <br>
            <label for="email">Email:</label>
            <br>
            <input id="email" th:field="*{email}" required/>
            <br>
            <br>
            <label for="password">Password:</label>
            <br>
            <input id="password" type="password" th:field="*{password}" required/>
            <br>
        </div>
        <div class="card-footer">
            <input value="Sign me up!" type="submit" />
        </div>
    </div>



</form>
<th:block th:replace="partials/bootstrap_style :: scripts">

</th:block>
</body>
</html>