<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" />
    <title>Spring Blog!</title>
    <th:block th:replace="partials/bootstrap_style :: stylesheets">

    </th:block>

</head>
<body style="align-content: center; !important;">
<th:block th:replace="partials/bootstrap_style :: navbar">

</th:block>

<h1 style="text-align: center" class="m-3">Welcome to the Blog Poster!</h1>
<div class="card text-white bg-info m-4 text-center">
    <div class="card-header">
        Please login or register
    </div>
    <div class="card-body">
        <a href="/login" class="btn btn-lg btn-secondary">Login</a>
        <br>
        <br>
        <a href="/sign-up" class="btn btn-lg btn-secondary">Register</a>
    </div>
    <div class="card-footer text-muted">

    </div>
</div>
<th:block th:replace="partials/bootstrap_style :: scripts">

</th:block>
</body>
</html>